# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.venv/
venv/
env/
dist/
build/

# FastAPI / Uvicorn
*.sqlite3

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.key
*.pem

# Node (ileride frontend eklersen)
node_modules/
